* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: white;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}

.main{
    width: 100%;
    min-height: 100vh; /* Set minimum height to cover the viewport */
    background: linear-gradient(45deg, #00246B, #CADCFC) fixed;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* Use flexbox to center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

#calendar{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weather-widget-container {
    width: 80%;
    position: relative;
    margin-top: 40px; /* Adjust margin as needed */
}

.tomorrow {
    width: 80%; /* Set the width of the weather widget */
    position: absolute;
    top: calc(70% + 5px); /* Position below the calendar with a margin */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the widget is above the background */
}

/* Add CSS to adjust styling of the weather widget powered by Tomorrow.io */
.tomorrow a {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
